h1.titulo {
    text-align: center;
}
p.parrafo {
    font-family: serif;
}
p#primer-parrafo {
    background-color: #CEE;
}
#primer-parrafo em {
    color: #933;
}
p.parrafo a {
    outline: 1px solid #333;
}
html body p.fuente.parrafo {
    opacity: 100%;
}
p:not([id]) {
    background-color: rgba(190, 120, 240, 0.6);
}
body p.fuente.parrafo {
    color: #000 !important;
}
.complicado {
    font-weight: bold;
    color: #C62 !important;
}
